		body 			{ margin: 0px; font-family: tahoma, sans-serif; padding-bottom: 20px; background: #EFFAB4; font-size: 12px; color: #333333;}
		#Granny 		{ width: 720px; font-size: 0.88em; }
		a 			{ text-decoration: none; color: #0000FF; }
		a img 			{ border-width: 0px; }
		#HeaderCont 		{ clear: both; width: 100%; margin-top: 30px; background: #D1F2A5; border: 0px solid #333; }
		#HeaderInn 		{ margin-bottom: 4px; padding: 5px 0px; text-align: left; font-family: Tahoma, sans-serif, sans-serif; }
		#HeaderTitle 		{ font-size: 5em; color: #000000; padding: 0px 40px; direction: ltr; text-align: left; }
		.TitleItemLink 		{ color: #000000; }
		#HeaderSubTitle 	{ margin: 12px 0px; font-size: 1.75em; color: #666; direction: ltr; text-align: left; padding: 0px 40px; }
		#MainAndSides 		{ clear: both; width: 100%; margin-top: 15px; }
		#MainCol 		{ width: 75%; background: #D1F2A5; float: right; }
		#MainColInner 		{ padding: 10px 20px; border: 0px solid #000000; }
		.OnePost		{ border: 1px solid #000000; font-family: Tahoma, sans-serif, sans-serif; direction: ltr; background: #EEE; }
		.OnePost .TopPost	{ border-bottom: 1px solid #666; padding:  0px 20px 3px 20px; background: #CCC; }
		.OnePost .MidPost	{ padding: 15px 25px; }
		.OnePost .BotPost	{ border-top: 1px solid #666; padding: 3px 20px; background: #CCC; }
		.OnePost .FullWidth	{ width: 100%; }
		.DateHeaderPost		{ font-size: 1em; color: #000000; padding-top: 3px; text-align: right; width: 48%; float: right; }
		.TitleHeaderPost	{ font-size: 1em; font-weight: bold; color: #000000; padding-top: 3px; text-align: left; direction: ltr; width: 48%; float: left; }
		.TitleHeaderPost a	{ color: #000000; }
		.PostTextBody		{ font-size: 1em; color: #000000; text-align: left; line-height: 150%; }
		.CmntFooterPost		{ visibility: visible; font-size: 1em; color: #333; width: 48%; float: right; text-align: right; }
		.CmntFooterPost a	{ color: #333; }
		.PermFooterPost		{ font-size: 1em; font-style: italic; color: #333; width: 48%; float: left; text-align: left; }
		.PermFooterPost a	{ color: #333; }
		.Clearer		{ clear: both; width: 100%; font-size: 0px; height: 0px; }
		.PostSep		{ height: 20px; font-size: 1px }
		.PostSepS		{ height: 10px; margin-bottom: 10px; border-bottom: 1px solid #000000; font-size: 1px }
		.SideBar		{ background: #D1F2A5; }
		.SideBarInner		{ padding: 15px 15px; border: 0px solid #000000; }
		.SideBarInner img	{ margin-top: 2px; }
		#SideLCol 		{ width: 23.4%; float: left; margin-right: 1.5%; }
		#SideLCol .Box 		{ background: #D1F2A5; border: 0px solid #666; font-family: Tahoma, sans-serif, sans-serif; }
		#SideLCol .Sep 		{ height: 30px; }
		#SideLCol .SepS		{ height: 14.5px; margin-bottom: 14.5px; border-bottom: 1px solid #000000; font-size: 1px }
		#SideLCol .Title	{ font-size: 1em; color: #000000; font-weight: bold; border-bottom: 1px solid #333; margin-bottom: 3px; }
		#SideLCol .Inner	{ text-align: center; font-size: 1em; color: #333; padding: 5px 15px 8px 15px; line-height: 150%; }
		#commentInline		{ margin: 10px 20px; text-align: left; }
		.commentHead		{ margin: 0px 10px 20px 10px; padding-top: 5px; color: #333; }
		.comments-block		{ line-height: 150%; padding: 0px 30px; }
		.comment-poster		{ padding-bottom: 10px; }
		.comment-body		{ margin: 0px; padding-bottom: 10px; padding-left: 20px; }
		.innerCmntBody		{ margin: 5px 0px; }
		.comment-timestamp	{ margin: 5px 0px; padding: 0px 0px 8px 20px; color: #999; }
		.comment-timestamp a 	{ color: #666; }
		.deleted-comment	{ font-style: italic; color: gray; }
		#ColClose 		{ clear: both; width: 100%; font-size: 1px; height: 1px; margin-bottom: 20px; }
		#CopyRight 		{ width: 60%; border-top: 1px solid gray; padding-top: 10px; line-height: 150%; }
		/* This template generated by PsycHo [http://psyc.horm.org] on 6/6/2010. */